@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Rubik:wght@400;500;600;700&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #cbcbcb86;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.082);
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-weight: 700;
}

.quote-text {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: rgba(23, 23, 23, 0.747);
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5rem;
  font-style: italic;
  color: rgba(20, 19, 19, 0.747);
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.2rem;
  outline: none;
  box-shadow: 0 0.3rem rgb(121, 121, 121, 0.5);
  transition: all 0.1s ease;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.83);
}

button:active {
  transform: translateY(0.3rem);
  box-shadow: none;
}

.fa-circle-notch {
  font-size: 5rem;
  color: rgba(124, 124, 124, 0.545) (60, 60, 60);
  animation-duration: 0.4s;
  animation-name: loader;
  animation-iteration-count: infinite;
}

@keyframes loader {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
